<form role="form">
  <div class="kuiLocalDropdownTitle">Options</div>
	<div class="input-group">
	  <label>
	    <input type="checkbox" ng-model="opts.ui.darkTheme" ng-checked="opts.ui.darkTheme">
	    Use dark theme
	  </label>
	</div>
	<div>
	  <label>Operator(s):
	  <input
	    ng-model="opts.ui.operator"
	    placeholder="ALL"
	    type="text"> (Use comma separated for mulitple operators with no spacing)
	  </label>
	</div>
	<div>
	  <label>App:
	  <input
	    ng-model="opts.ui.app"
	    placeholder="GCS4"
	    type="text">
	  </label>
	</div>
	<div>
	  <label>Menu Group:
	  <input
	    ng-model="opts.ui.menu_group_name"
	    placeholder=""
	    type="text">
	  </label>
	</div>
	<div>
	  <label>Order:
	  <input
	    ng-model="opts.ui.order"
	    placeholder="0"
	    type="text"> (0 => No order)
	  </label>
	</div>
	<div class="input-group">
	  <label>
	    <input type="checkbox" ng-model="opts.ui.isPublished" ng-checked="opts.ui.isPublished">
	    Publish to Customers?
	  </label>
	</div>
	<div class="input-group">
	  <label>
	    <input type="checkbox" ng-model="opts.ui.rebuildIndexFieldsList" ng-checked="opts.ui.rebuildIndexFieldsList">
	    Rebuild Index Fields List?
	  </label>
	</div>    
	<div class="input-group">
	  <label>
	    <input type="checkbox" ng-model="opts.ui.savedSearchOnly" ng-checked="opts.ui.savedSearchOnly">
	    Use Only Saved Search Columns/Fields To Rebuild Index Fields List? (Default uses everything including visualizations)
	  </label>
	</div>
  </div>  
</form>
